body {
    background: #fffbd5;
    background: -webkit-linear-gradient(to bottom, #b20a2c, #fffbd5);
    background: linear-gradient(to bottom, #b20a2c, #fffbd5);
    background-size: cover;
    height: 100vh;
    color: blanchedalmond;
    
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.form-center {
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pokemon-card {
    display:flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 5px solid blanchedalmond;
    transition: 0.3s;
    border-radius: 10px;
}

.sprite {
    margin-top:15px;
    padding-top: 30px;
}

.container {
    display:flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
 
  }